body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 1px solid #e9ecef;
}

.chat-container {
    border: solid #53545C;
    max-width: 650px;
    margin: 10px auto;
    width: 350px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.chat-header {
    padding: 20px;
    border-bottom: 1px solid #e9ecef;
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.chat-box {
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
}

.message {
    margin-bottom: 20px;
}

.user-message {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; /* Align to right */
    margin-left: 20px;
    margin-bottom: 15px;
}

.user-message .message-bubble {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 70%;
    word-wrap: break-word;
}

.bot-message {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; /* Align to left */
    margin-right: 20px;
    margin-bottom: 15px;
}

.bot-message .message-bubble {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 90%;
    word-wrap: break-word;
}

.input-container {
    padding: 15px;
    margin-left: -10px;
    border-top: 1px solid #e9ecef;
    display: flex;
    align-items: center;
}

.input-container textarea {
    flex-grow: 1;
    padding: 10px 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 5px;
    resize: none; /* Disable resizing */
    overflow: hidden; /* Hide overflow text */
    min-height: 20px; /* Set a minimum height */
}

.input-container button {
  font-size: 12px;
    width: 50px;
    height: 40px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.clear-button {
    width: 10;
    margin-left: 2px;
    font-size: 12px;
}

.clear-button button {
    background-color: #dc3545;
    width: 40px;
}

.footer {
  font-size: 10px;
  text-align: center;
}